<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cuenta</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Cuenta</h1>

        <pre>
            <!--ID: <span th:text="${account.id}"></span><br>-->
            CBU: <span th:text="${account.cbu}"></span><br>
            Nombre del Banco: <span th:text="${account.banco}"></span><br>
            Nombre del Titular: <span th:text="${account.nombreTitular}"></span><br>
        </pre>
        
    </body>
</html>
