<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <h1>Iniciar Sesion</h1>
        <form action="#" th:action="@{login}" th:object="${login}" method="post">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" th:field="*{email}"><br>
            
            <label for="password">Constraseña:</label>
            <input type="text" id="password" name="password" th:field="*{password}"><br>

            <button type="submit">Entrar</button>
        </form>
    </body>
</html>
