<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Crear cliente</title>
    </head>
    <body>
        <h1>Crear cliente</h1>
        <form action="#" th:action="@{save}" th:object="${account}" method="post">
            <label for="cbu">CBU:</label>
            <input type="text" id="cbu" name="cbu" th:field="*{cbu}"><br>
            
            <label for="banco">Banco:</label>
            <input type="text" id="banco" name="banco" th:field="*{banco}"><br>

            <label for="nombreTitular">Nombre del Titular:</label>
            <input type="text" id="nombreTitular" name="nombreTitular" th:field="*{nombreTitular}"><br>

            <button type="submit">Crear</button>
        </form>
    </body>
</html>
